// Import Files
// @import './reset';
// @import './variable';
// @import './color';

// Font Size
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-22: 2.2rem;
$font-28: 2.8rem;

// ----- Font Weight -----
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// Text Font Size
@mixin paragraph-xs {
  font-size: $font-13;
}

@mixin paragraph-s {
  font: {
    size: $font-21;
    weight: $weight-700;
  }
}

@mixin text-12-gray {
  color: var(--secondary-text);
  font-size: $font-12;
}

@mixin text-13-gray {
  color:var(--secondary-text);
  font: {
    size: $font-13;
    weight: $weight-700;
  }
}

@mixin text-16-white {
  color: var(--primary-text);
  font: {
    size: $font-16;
    weight: $weight-700;
  }
}

@mixin text-18-white {
  color: var(--primary-text);
  font: {
    size: $font-18;
    weight: $weight-700;
  }
}

